<div class="row" style="position: absolute; top: 30px; background-color: white;">
  <div class="col-md-12 banner-wrapper">
    <div class="col-md-12" style="position: absolute; top: 100px; z-index: 1000;">
      <div style="font-size: 60px; font-weight: bold; padding-left: 12%; padding-top: 10%;" class="text">{{"New Arrivals" | uppercase }}</div>
      <button class="btn btn-primary shop-button" style="margin-left: 12%; margin-top: 2%;">SHOP NOW</button>
    </div>
    <!-- Banner : Carousel -->
    <app-banner></app-banner>
  </div>
  <div class="col-md-12 mt-5">
    <!-- Categories -->
    <app-product-category></app-product-category>
  </div>
</div>
