<app-sort *ngIf="page === 'shop'"></app-sort>
<div class="row justify-content-between mr-5 ml-3 mt-3 mb-4">
  <div *ngIf="page !== 'shop'">
    <h3>Product Details</h3>
  </div>
  <div class="row search-bar" style="align-items: center;" [ngClass]="{'search-bar-position': page === 'shop'}">
    <input
      class="search-input"
      type="text"
      name=""
      placeholder="Search Product"
      [(ngModel)]="searchItem"
    />
    <a href="#" class="search_icon"
      ><i class="fa fa-search fa-lg" aria-hidden="true"></i
    ></a>
  </div>
</div>

<div class="row justify-content-lg-even" style="flex-wrap: wrap" [ngClass]="{'mt-5': page === 'shop', 'ml-4': page !== 'shop'}">
  <!-- Total number of users card shadow -->
  <div
    *ngFor="let product of products.reverse() | filter: searchItem"
    class="card-holder"
    [ngClass]="{'m-4': page !== 'shop', 'm-2': page === 'shop', 'mr-4': page === 'shop', 'shadow-sm': page === 'shop', 'shadow': page !== 'shop', 'bg-success':page !== 'shop'}"
  >
    <div class="card text-white" [ngClass]="{'card-height-20': page !== 'shop', 'm-3': page !== 'shop', 'card-height-18': page === 'shop', 'm-2': page === 'shop'}">
      <img
        src="../../../../assets/images/{{ product.imgsrc }}"
        alt=""
        srcset=""
        class="product-img"
        style="height: inherit;"
      />
      <div class="action_links" style="border-radius: 0 5px">
        <ul>
          <li *ngIf="page !== 'shop'">
            <a
              ><img
                src="../../../../assets/icons/trash.png"
                alt=""
                srcset=""
                style="height: 17px"
            /></a>
          </li>
          <li *ngIf="page !== 'shop'">
            <a
              ><img
                (click)="onEdit()"
                src="../../../../assets/icons/edit.png"
                alt=""
                srcset=""
                style="height: 17px"
            /></a>
          </li>
          <li *ngIf="page !== 'shop'">
            <a
              ><img
                (click)="onView()"
                src=" ../../../../assets/icons/icons8-eye-24.png"
                alt=""
                srcset=""
                style="height: 17px"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="row"
      style="margin: 10px; text-align: center; flex-direction: column; cursor: pointer;"
    >
      <p style="margin-bottom: 0 !important;">{{ product.name }}</p>
      <p style="color: rgb(173, 173, 3)">$ {{ product.price }}</p>
    </div>
  </div>
</div>

<app-product-add-edit-form></app-product-add-edit-form>
<app-product-details-form></app-product-details-form>
