.bg-primary {
  background-color: var(--secondary-color) !important;
}

.card {
  cursor: pointer;
}

.card-title {
  margin-top: -10px;
  font-size: 2.6rem;
}

.card-text {
  font-size: smaller;
}

.blue-shadow {
  box-shadow: 0 0.125rem 0.25rem #1d8bf87e !important;
}

.card-header {
  padding: 0.25rem 0.75rem !important;
  border-bottom: none !important;
}

h3 {
  margin: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.action_links {
  /* visibility: hidden; */
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -2px;
  opacity: 0;
  z-index: 9;
  background: #ffffff;
}

.action_links ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.action_links ul li a {
  line-height: 40px;
  width: 50px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
}

.card:hover .action_links {
  /* visibility: visible; */
  opacity: 1;
}

.search-bar {
  width: 500px;
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 5px;
}

.search-input {
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: none;
  padding: 0 10px;
  width: 450px;
  caret-color: rgb(255, 255, 255);
  transition: width 0.4s linear;
}

.search-bar:hover > .search-input {
  transition: width 0.4s linear;
}
