<div class="sidebar-wrapper">
  <div class="row" style="margin: 10px 20px; align-items: center">
    <img
      src="../assets/images/icons8-user-folder-64.png"
      style="height: 50px; padding: 5px"
    />
    <h6>User Manager</h6>
  </div>
  <hr />
  <ul class="nav" style="display: block; padding-left: 30px">
    <!-- Router link redirection to specific tab -->
    <li class="nav-item active">
      <a
        routerLink="dashboard"
        class="nav-link"
        routerLinkActive="active"
        (click)="setTitle('Dashboard')"
        style="cursor: pointer"
        >Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="users"
        class="nav-link"
        routerLinkActive="active"
        (click)="setTitle('Users')"
        style="cursor: pointer"
        >Users</a
      >
    </li>
  </ul>
</div>
