<div class="sidebar-wrapper">
  <ul class="nav" style="display: block">
    <!-- Router link redirection to specific tab -->
    <li class="nav-item active">
      <a
        routerLink="dashboard"
        class="nav-link"
        routerLinkActive="active"
        (click)="setTitle('Dashboard')"
        style="cursor: pointer;"
        >Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="users"
        class="nav-link"
        (click)="setTitle('Users')"
        style="cursor: pointer;"
        >Users</a
      >
    </li>
  </ul>
</div>
