.sidebar-wrapper {
  height: calc(100vh - 90px);
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  margin-top: 78px;
  margin-left: 20px;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  background: linear-gradient(0deg, #1d8cf8 0,  #3358f4 95%);
  animation: moveBg 1s ease-in-out infinite alternate-reverse;
}

@keyframes moveBg {
  0%{background: linear-gradient(0deg, #1d8cf8 0,#3358f4 55%);}
  15%{background: linear-gradient(0deg, #1d8cf8 0, #3358f4 59%);}
  25%{background: linear-gradient(0deg,#1d8cf8 0,#3358f4 63%);}
  35%{background: linear-gradient(0deg, #1d8cf8 0,#3358f4 67%);}
  45%{background: linear-gradient(0deg, #1d8cf8 0,#3358f4 71%);}
  55%{background: linear-gradient(0deg, #1d8cf8 0, #3358f4 75%);}
  65%{background: linear-gradient(0deg, #1d8cf8 0,#3358f4 79%);}
  75%{background: linear-gradient(0deg, #1d8cf8 0, #3358f4 81%);}
  85%{background: linear-gradient(0deg, #1d8cf8 0,#3358f4 85%);}
  95%{background: linear-gradient(0deg, #1d8cf8 0,#3358f4 89%);}
  100% {background: linear-gradient(0deg, #1d8cf8 0, #3358f4 95%);}
}

p {
  color: var(--font-color) !important;
}

.nav-link {
  color: var(--font-color) !important;
}

.active span::before {
  content: "";
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 4px;
  bottom: 25px;
  align-self: center;
  background-color: var(--font-color);
}