<div class="wrapper">
  <!-- Sidebar -->
  <div class="col-sm-2 bg-primary" style="height: 100vh; position: fixed">
    <div class="col-md-12">
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <div class="col-sm-10 bg-body">
    <div class="col-md-12">
      <!-- Header Section -->
      <div class="row">
        <div class="col rounded shadow">
          <ul class="row" style="color: aliceblue; list-style-type: none">
            <li style="margin: 10px">Profile</li>
            <li style="margin: 10px">Profile</li>
          </ul>
        </div>
      </div>

      <!-- Body Section -->
      <div
        class="row bg-secondary rounded tab-height shadow"
        style="height: 800px; margin-top: 26px"
      >
        <div class="col-md-12">
          <!-- Dynamically load content -->
          <router-outlet></router-outlet>
        </div>
      </div>

      <!-- <div class="row bg-success mt-3 rounded shadow" style="height: 9vh"></div> -->
    </div>
  </div>
</div>
