html,
body {
  color: #32325d;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

.wrapper {
  display: flex;
  width: 100%;
}

.mr-0 {
  margin-right: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.bg-primary {
  background-color: #1e1e2f !important;
}

.bg-success {
  background-color: #1e1e2f !important;
}

.bg-secondary {
  background-color: #27293d !important;
}

.bg-body {
  background-color: #1e1e2f !important;
  margin-left: 225px;
  height: 1000px;
}

h1 {
  font-size: 150%;
}

.w-40 {
  width: 40% !important;
}
