::ng-deep body {
  height: 130vh !important;
  background-color: #fff !important;
}

.form-control,
.form-control:focus {
  color: #000000 !important;
  height: calc(2em + 0.75rem + 15px) !important;
  background-color: #fff !important;
  border: 1px solid rgba(177, 177, 177, 0.568) !important;
}

textarea {
  color: #000000;
  padding: 0.375rem 0.75rem;
  border: 1px solid rgba(177, 177, 177, 0.568) !important;
}

textarea:focus,
textarea:active {
  outline: none;
}

.btn-primary {
  color: #fff;
  border-radius: 23px;
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0b3af7da !important;
  border-color:  #0b3af7da !important;
  transition: background-color 0.3s ease-in-out;
}

.banner-img {
  position: absolute;
  top: 30px;
  border: none;
  width: 100%;
}
