<section class="banner-img" style="height: 250px; overflow: hidden">
  <img
    style="width: 100%;"
    src="../../../assets/images/contact1.png"
  />
  <h2
    class="text-center banner-img"
    style="font-size: 3rem; font-weight: bolder; color: #ffffff; top: 90px;"
  >
    Contact
  </h2>
</section>

<div
  class="container"
  style="
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  "
>
  <div class="row border border">
    <div class="col-md-6 border-right p-5">
      <form class="col-md-12">
        <h4 class="text-center mt-4">Send Us A Message</h4>
        <div class="col-md-12 mt-4">
          <input
            class="form-control"
            type="text"
            name="email"
            placeholder="Your Email Address"
            autocomplete="off"
          />
          <!-- Email icon -->
        </div>
        <div class="col-md-12 mt-4" style="height: 200px">
          <textarea
            name="msg"
            class="h-100 w-100 rounded"
            placeholder="How Can We Help?"
          ></textarea>
        </div>
        <div class="col-md-12 mt-4 mb-4">
          <button class="btn btn-primary w-100">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 p-5 align-self-center">
      <div class="col-md-7 mt-4">
        <h5>
          <i
            class="fa fa-thumb-tack mr-2"
            style="color:  #0b3af7da; transform: rotate(45deg)"
            aria-hidden="true"
          ></i>
          Address
        </h5>
        <p class="ml-4">
          Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US
        </p>
      </div>
      <div class="col-md-7 mt-5">
        <h5>
          <i
            class="fa fa-phone mr-2"
            style="color:  #0b3af7da"
            aria-hidden="true"
          ></i>
          Lets Talk
        </h5>
        <p class="ml-4">+6 666 6666666</p>
      </div>
      <div class="col-md-7 mt-5">
        <h5>
          <i
            class="fa fa-envelope mr-2"
            aria-hidden="true"
            style="color:  #0b3af7da"
          ></i>
          Email Us
        </h5>
        <p class="ml-4">contact@example.com</p>
      </div>
    </div>
  </div>
</div>
