<p style="color: antiquewhite; margin: 20px 10px">USER DETAILS</p>
<div class="table-responsive">
  <table class="table tablesorter" id="">
    <thead class="text-primary">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Blank</th>
        <th class="text-center">Blank</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sidharth S</td>
        <td>sidharths@qburst.com</td>
        <td>####</td>
        <td class="text-center">####</td>
      </tr>
      <tr>
        <td>Haripriya J</td>
        <td>haripriya@qburst.com</td>
        <td>####</td>
        <td class="text-center">####</td>
      </tr>
    </tbody>
  </table>
</div>
