<div
  class="col auth-form shadow rounded"
  style="background: var(--secondary-color)"
>
  <form class="col p-5" [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
    <div class="row pb-1 border-bottom"><h4>Set Password</h4></div>
    <div class="row pt-4">
      <input
        type="text"
        class="form-control"
        formControlName="newPassword"
        placeholder="New Password"
        [ngClass]="{
          'border-danger':
            setPasswordForm.hasError('mismatch') ||
            setPasswordForm.hasError('patternError') ||
            someError
        }"
      />
    </div>
    <div class="row pt-4">
      <input
        type="text"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        [ngClass]="{
          'border-danger':
            setPasswordForm.hasError('mismatch') ||
            setPasswordForm.hasError('patternError') ||
            someError
        }"
      />
      <div
        class="pt-2 text-danger"
        style="font-size: smaller"
        *ngFor="let eachError of customErrorList"
      >
        <!-- Text -->
        <div *ngIf="setPasswordForm.hasError(eachError)">
          {{ customErrors[eachError] }}
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <button
        class="btn btn-primary w-100 gradient-background"
        [disabled]="!setPasswordForm.valid"
      >
        Update
      </button>
    </div>
  </form>
</div>
