<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="row w-75">
        <div class="navbar-brand">
          {{ title | uppercase }}
        </div>
      </div>
      <div style="cursor: pointer; margin-left: 88%">
        <div ngbDropdown class="d-flex justify-content-between">
          <div ngbDropdownToggle class="m-2">
            <span class="text-small">Hi, {{ firstname | titlecase }}</span>
            <img
              src="../../../assets/images/profile.png"
              alt=""
              class="ml-3"
              style="border-radius: 50%; height: 33px; width: 33px"
            />
          </div>
          <div ngbDropdownMenu>
            <div
              style="cursor: pointer; outline: none"
              routerLink="profile"
              (click)="setTitle()"
              class="pl-3 pr-3 pt-2 pb-2"
              ngbDropdownItem
            >
              Profile
            </div>
            <div
              style="cursor: pointer"
              (click)="onLogout()"
              ngbDropdownItem
              class="pl-3 pr-3 pt-2 pb-2"
            >
              Logout
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
