.navbar {
    padding: 10px 30px 10px 15px;
    height: 66px;
    width: 100%;
    z-index: 100;
    background: var(--primary-color);
}

.navbar.navbar-absolute {
    position: absolute;
    z-index: 100;
}
.navbar-wrapper {
    width: inherit;
}

.dropdown-menu {
    background-color: var(--primary-color) !important;
    min-width: 11rem !important;
    border: none !important;
}

.dropdown-item {
    color: var(--font-color) !important;
}

.dropdown-item:hover {
    background-color: var(--primary-color) !important;
    border-bottom: 2px solid #1d8cf8;
}

.navbar-wrapper .row {
    padding: 0 !important;
}