<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <h3 class="modal-title" id="modal-basic-title">Product Details</h3> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="background-clip: padding-box"
    >
      <span aria-hidden="true" style="color: rgb(250, 234, 210)">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <img src="../../../../../assets/images/product-06.jpg" height="500px" />
      </div>
      <div class="col-6">
        <h4>Watch</h4>
        <p style="color: yellowgreen">$400</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
          iste laborum ad impedit pariatur esse optio tempora sint ullam autem
          deleniti nam in quos qui nemo ipsum numquam, reiciendis maiores quidem
          aperiam, rerum vel recusandae
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
