<div class="table-responsive pl-3 pr-3 pt-5">
  <table class="table tablesorter">
    <thead class="text-primary">
      <tr>
        <th *ngFor="let key of tableHeaders.slice(1)">{{ key | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableBody">
        <td *ngFor="let key of tableHeaders.slice(1, -2); let i = index">
          {{ row[key] | titlecase }}
        </td>
        <td>
          <img
            (click)="onEdit(row.id)"
            src="../assets/images/icons8-edit-50.png"
            alt=""
            srcset=""
            style="height: 25px; cursor: pointer"
          />
        </td>
        <td>
          <img
            (click)="onDelete(row.id)"
            src="../assets/images/icons8-delete-bin-60.png"
            alt=""
            srcset=""
            style="height: 25px; cursor: pointer"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
