.navbar {
    padding: 10px 30px 10px 15px;
    height: 66px;
    width: 100%;
    z-index: 100;
    background: var(--primary-color);
}

.navbar.navbar-absolute {
    position: absolute;
    z-index: 100;
}

.navbar .navbar-brand {
    position: fixed;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    color: #fff;
    margin-left: 25px;
    margin-top: 12px;
    font-size: 1rem;
}

.navbar-wrapper {
    width: inherit;
}

.dropdown-menu {
    background-color: var(--primary-color) !important;
    min-width: 11rem !important;
    border: none !important;
}

.dropdown-item {
    color: var(--font-color) !important;
}

.dropdown-item:hover {
    background-color: var(--primary-color) !important;
    border-bottom: 2px solid #1d8cf8;
}

.navbar-wrapper .row {
    padding: 0 !important;
}

.show {
    border: 1px solid #1d8bf856 !important;
    border-radius: 5px;
}