.rotate-arrow {
  transform: rotate(90deg);
  transition: transform 0.4s linear;
  top: 10px;
}

.hide {
  display: none;
}

i:hover,
.category-name:hover,
.subcategory-name:hover {
  color: #335af4da;
}

.subcategories {
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  0% {
    top: -3px;
  }
  100% {
    top: 0px;
  }
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  cursor: pointer;
  width: 22px !important;
  height: 22px !important;
  top: -14px;
  background-color: #335af4da !important;
}


::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-pointer-min,
::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-pointer-max {
  top: -9px;
}

::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active,
::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:focus {
  outline: none !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 8px !important;
  left: 7px !important;
  border-radius: 4px;
  background: #fff;
}

::ng-deep .ngx-slider .ngx-slider-selection {
  background-color: #335af4da !important;
}

.highlight{
  border-bottom: 1px solid #335af4da;
}