.rotate-arrow {
  transform: rotate(90deg);
  transition: transform 0.4s linear;
  top: 10px;
}

.hide {
  display: none;
}

i:hover,
.category-name:hover,
.subcategory-name:hover {
  color: #335af4da;
}

.subcategories {
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  0% {
    top: -3px;
  }
  100% {
    top: 0px;
  }
}
