<div class="row justify-content-between">

  <!-- Total number of users card shadow -->
  <div class="card shadow-sm text-white bg-primary m-3" style="width: 17rem">
    <div class="card-header"><img src="../../../../assets/icons/icons8-person-blue.png" alt=""></div>
    <div class="card-body">
      <h5 class="card-title">{{totalUsers}}</h5>
      <span class="card-text" style="color: #1d8cf8;">
        Total Users
      </span>
    </div>
  </div>

  <!-- Total number of Active users -->
  <div class="card shadow-sm text-white bg-primary m-3" style="width: 17rem">
    <div class="card-header"><img src="../../../../assets/icons/icons8-person-green.png" alt=""></div>
    <div class="card-body">
      <h5 class="card-title">{{activeUsers}}</h5>
      <span class="card-text text-success">
        Active Users
      </span>
    </div>
  </div>

   <!-- Total number of Pending users -->
   <div class="card shadow-sm text-white bg-primary m-3" style="width: 17rem">
    <div class="card-header"><img src="../../../../assets/icons/icons8-person-orange.png" alt=""></div>
    <div class="card-body">
      <h5 class="card-title">{{pendingUsers}}</h5>
      <span class="card-text text-warning">
        Pending Users
      </span>
    </div>
  </div>

   <!-- Total number of Inactive users -->
   <div class="card shadow-sm text-white bg-primary m-3" style="width: 17rem">
    <div class="card-header"><img src="../../../../assets/icons/icons8-person-red.png" alt=""></div>
    <div class="card-body">
      <h5 class="card-title">{{inactiveUsers}}</h5>
      <span class="card-text text-danger">
        Inactive Users
      </span>
    </div>
  </div>

</div>
