<particles
  [style]="myStyle"
  [width]="width"
  [height]="height"
  [params]="myParams"
></particles>

<div
  class="col auth-form shadow rounded"
  style="background: var(--secondary-color)"
  [@slideInOut]
>
  <form class="col p-5" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="row pb-1 border-bottom"><h4>Login</h4></div>
    <div class="row pt-4">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <div class="row pt-4">
      <button
        class="btn btn-primary w-100 gradient-background"
        [disabled]="!passwordForm.valid"
      >
        Login
      </button>
    </div>
    <div class="row pt-4 text-small">
      <a
        style="
          cursor: pointer;
          font-size: smaller;
          text-decoration: none !important;
        "
        (click)="notifyUser()"
        >Forgot Password ?</a
      >
    </div>
  </form>
</div>
