<div class="sidebar-wrapper p-2">
  <div class="row" style="margin: 10px 20px; align-items: center">
    <h6
      class="mt-2 ml-4 text-light font-weight-bold"
      style="font-size: 0.99rem"
    >
      {{ "User Manager" | uppercase }}
    </h6>
  </div>
  <hr class="bg-light" />
  <ul class="nav" style="display: block">
    <!-- Router link redirection to specific tab -->
    <li class="nav-item col-md-12 p-2">
      <a
        routerLink="dashboard"
        class="nav-link"
        routerLinkActive="active"
        style="cursor: pointer"
      >
        <!-- Icon -->
        <i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i>
        <span class="ml-3" style="font-size: small">
          {{ "Dashboard" | uppercase }}
        </span>
      </a>
    </li>
    <li class="nav-item col-md-12 p-2">
      <a
        routerLink="users"
        class="nav-link"
        routerLinkActive="active"
        style="cursor: pointer"
      >
        <!-- Icon -->
        <i class="fa fa-address-card fa-lg"></i>
        <span class="ml-3" style="font-size: small">
          {{ "Users" | uppercase }}
        </span>
      </a>
    </li>
  </ul>
</div>
