<div class="bg-dark" style="height: 30px; z-index: 1500;">
  <div
    ngbDropdown
    class="d-flex justify-content-end"
    style="cursor: pointer; height: inherit; align-items: center"
  >
    <div ngbDropdownToggle class="m-2">
      <span class="text-light" style="font-size: smaller">My Account</span>
    </div>
    <div ngbDropdownMenu>
      <div
        style="cursor: pointer; outline: none; font-size: smaller"
        class="pl-3 pr-3 pt-2 pb-2"
        ngbDropdownItem
      >
        Profile
      </div>
      <div
        style="cursor: pointer; font-size: smaller"
        ngbDropdownItem
        class="pl-3 pr-3 pt-2 pb-2"
      >
        Logout
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{ 'fix-menu-desktop': fixHeader }">
  <div class="wrap-menu-desktop" style="padding-top: 0 !important">
    <ul
      class="nav align-items-center"
      style="max-width: 1200px; margin: 0 auto"
    >
      <li class="nav-item p-2">
        <a
          routerLink="home"
          class="nav-link"
          routerLinkActive="active"
          style="cursor: pointer"
        >
          <span class="ml-3" style="font-size: large; font-weight: bold">
            STORE
          </span>
        </a>
      </li>
      <li class="nav-item p-2">
        <a
          routerLink="home"
          class="nav-link"
          routerLinkActive="active"
          style="cursor: pointer"
        >
          <span class="ml-3"> Home </span>
        </a>
      </li>
      <li class="nav-item p-2">
        <a
          routerLink="shop"
          class="nav-link"
          routerLinkActive="active"
          style="cursor: pointer"
        >
          <span class="ml-3"> Shop </span>
        </a>
      </li>
      <li class="nav-item p-2" style="flex: 2">
        <a
          class="nav-link"
          routerLink="contact"
          routerLinkActive="active"
          style="cursor: pointer; width: 20%"
        >
          <span class="ml-3"> Contact </span>
        </a>
      </li>
      <li class="nav-item p-2" *ngIf="title !== 'contact'">
        <a class="nav-link" style="cursor: pointer">
          <span class="ml-3">
            <i
              class="fa fa-shopping-cart fa-2x"
              aria-hidden="true"
              (click)="openCartModal()"
            ></i>
            <span
              style="
                background-color: #335af4da;
                color: #fff;
                vertical-align: middle;
                position: relative;
                padding: 1px 3px;
                top: -21px;
                left: -5px;
                font-size: small;
              "
              >{{ count }}</span
            >
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>

<app-cart></app-cart>

<svg
  *ngIf="hideScrollButton"
  xmlns="http://www.w3.org/2000/svg"
  width="85"
  height="43"
  style="
    position: fixed;
    z-index: 3000;
    cursor: pointer;
    bottom: 60px;
    right: 20px;
  "
  (click)="scrollToTop()"
  class="moving-cursor"
>
  <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
  <g>
    <title>Scroll to Top</title>
    <path
      stroke="#000"
      transform="rotate(-90 19.89181709289552,35.15639877319337) "
      id="svg_1"
      d="m21.17814,35.1564l-12.73788,-15.4838l22.90312,15.4838l-22.90312,15.4838l12.73788,-15.4838z"
      stroke-width="1.5"
      fill="#000000"
    />
    <path
      id="svg_4"
      d="m-115.31743,16.04421l-0.41501,-0.74499l0.74621,0.74499l-0.74621,0.74499l0.41501,-0.74499z"
      stroke-width="1.5"
      stroke="#000"
      fill="#fff"
    />
    <path
      stroke="#000"
      transform="rotate(-90 19.730005264282227,15.002970695495604) "
      id="svg_5"
      d="m21.01633,15.00297l-12.73788,-15.96611l22.90312,15.96611l-22.90312,15.96611l12.73788,-15.96611z"
      stroke-width="1.5"
      fill="#000000"
    />
    <path
      transform="rotate(-96 -35.650554656982415,126.13563537597658) "
      id="svg_7"
      d="m-35.63244,126.13564l-0.17941,-0.74499l0.32258,0.74499l-0.32258,0.74499l0.17941,-0.74499z"
      stroke-opacity="null"
      stroke-width="1.5"
      stroke="#000"
      fill="#000000"
    />
    <path
      id="svg_8"
      d="m229.07936,65.21029l-0.41501,-0.16129l0.74621,0.16129l-0.74621,0.16129l0.41501,-0.16129z"
      stroke-opacity="null"
      stroke-width="1.5"
      stroke="#000"
      fill="#000000"
    />
    <path
      id="svg_9"
      d="m218.25187,113.03425l-0.17941,-0.16129l0.32258,0.16129l-0.32258,0.16129l0.17941,-0.16129z"
      stroke-opacity="null"
      stroke-width="1.5"
      stroke="#000"
      fill="#000000"
    />
  </g>
</svg>
