.dropdown-toggle::after {
  margin-left: 0.755em !important;
  vertical-align: 0.155em !important;
  border-top: 0.3em solid #ffffff !important;
}

.dropdown-menu.show {
  position: absolute;
  z-index: 1500;
  top: 1px !important;
  left: 6px !important;
}

.wrap-menu-desktop {
  position: sticky;
  z-index: 1100;
  background-color: transparent;
  width: 100%;
  height: 80px;
  top: 30px;
  left: 0;
  -webkit-transition: height 0.3s, background-color 0.3s;
  -o-transition: height 0.3s, background-color 0.3s;
  -moz-transition: height 0.3s, background-color 0.3s;
  transition: height 0.3s, background-color 0.3s;
}

.fix-menu-desktop .wrap-menu-desktop {
  position: fixed;
  top: 0;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  transition: height 0.5s, background-color 0.3s ease-in-out;
}

.nav-item * {
    color: #000000;
}

.search,
.search:focus {
  border: none;
  outline: none;
  background-color: transparent;
  padding: .375rem 0 0 .75rem;
  border-bottom: 1px solid rgba(177, 177, 177, 0.568);
}

.no-search-text {
  display: none;
}

.close {
  position: relative;
  left: -12px;
  margin-top: 6px;
}

.close-none {
  display: none;
}