h4 {
  padding-left: 7px;
}

tr,
th {
  color: rgba(255, 255, 255, 0.7) !important;
}

.table td,
.table th {
  border-color: rgba(255, 255, 255, 0.1);
}

.table thead th {
  border-bottom: none !important;
}

.modal-body,
.modal-header,
.modal-footer {
  background-color: #1e1e2f;
}

.modal-header {
  border-bottom: 1px solid #dee2e638;
}

.modal-footer {
  border-top: 1px solid #dee2e638;
  justify-content: space-evenly;
}

.modal-body {
  padding: 10px 29px;
}

.btn {
  background: linear-gradient(0deg, #3358f4 0, #1d8cf8 100%);
  color: rgb(255, 255, 255);
}

.close:focus {
  outline: transparent !important;
  border: transparent !important;
}
