<div style="margin-top: 2.5rem">
  <div class="row" style="margin-bottom: 1.5rem">
    <h3>{{ product?.name | titlecase }}</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img [src]="product.image" alt="" style="width: inherit" />
    </div>
    <div class="col-md-6 justify-content-between border border-dark">
      <p>₹{{ product?.price }}</p>
      <p>
        <i>{{ product?.description }}</i>
      </p>
      <p>Added on: {{ product?.createdAt }}</p>
      <p>Last Updated on: {{ product?.updatedAt }}</p>
      <span
        *ngIf="product.subcategory_name"
        class="p-2 text-light mr-2"
        style="
          background-color: #335af4da;
          border-radius: 24px;
          font-size: smaller;
        "
      >
        <i>{{ product.category_name | titlecase }}</i></span
      >
      <span
        *ngIf="product.subcategory_name"
        class="p-2 text-light"
        style="
          background-color: #335af4da;
          border-radius: 24px;
          font-size: smaller;
        "
      >
        <i>{{ product.subcategory_name | titlecase }}</i></span
      >
    </div>
  </div>
</div>
