::ng-deep .modal {
  position: fixed;
  top: -30px !important;
  z-index: 2050 !important;
  height: 100% !important;
}

::ng-deep .modal .modal-content {
  position: fixed !important;
  width: 26% !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  right: 0 !important;
  height: 100%;
}

::ng-deep .modal.fade .modal-dialog {
  transition: none;
  transform: none !important;
}

::ng-deep .modal-body,
.modal-header,
.modal-footer {
  background-color: #ffffff !important;
}

::ng-deep .btn,
::ng-deep .btn-primary {
  background: #000000 !important;
}

::ng-deep .btn-primary:focus {
  box-shadow: none !important;
}

img {
  transition: transform 0.9s ease;
  -webkit-transition: transform 0.9s ease;
  -o-transition: transform 0.9s ease;
  -moz-transition: transform 0.9s ease;
}

img:hover {
  transform: scale(1.2);
}

.btn-primary:hover {
  color: #fff;
  background-color: #0b3af7da !important;
  border-color: #0b3af7da !important;
  transition: background-color 0.3s ease-in-out;
}
