<ng-template #cartModal let-modal class="cart">
  <h4 class="modal-title pl-4 pt-3" style="font-weight: 700">YOUR CART</h4>
  <div class="modal-body pl-4">
    <div
      class="col-md-12"
      style="position: relative; max-height: 70vh; overflow-y: scroll"
    >
      <ul
        class="nav col-md-12 shadow-sm"
        *ngFor="let item of items"
        style="padding-right: 0px; margin-bottom: 20px"
      >
        <li class="nav-item p-2" style="display: flex">
          <div style="overflow: hidden;width: 100%;">
            <img
              [src]="item.image"
              alt="IMG"
              height="200"
              style="cursor: pointer; width: inherit"
              class="cart-img"
            />
          </div>
          <div class="pl-2" style="width: 100%">
            <a class="nav-link">
              {{
                item.name.length > 56
                  ? item.name.slice(0, 56) + "..."
                  : item.name.slice(0, 56)
              }}
            </a>
            <div style="padding: 0.5rem 1rem">
              <b>Quantity: </b>
              <input
                type="number"
                name="quantity"
                min="0"
                max="{{ item.quantity }}"
                [(ngModel)]="item.ProductsCarts.product_quantity"
                value="{{ item.ProductsCarts.product_quantity }}"
                (click)="calculateTotal()"
              />
            </div>
            <div style="padding: 0.5rem 1rem">
              <b>Item Total: </b>
              {{ item.price * item.ProductsCarts.product_quantity }}
            </div>
          </div>
          <i
            class="fa fa-times remove"
            aria-hidden="true"
            (click)="removeItem(item.id)"
            style="cursor: pointer;"
          ></i>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="p-3"
    style="
      position: absolute;
      bottom: 5px;
      width: 100%;
      background-color: #ffffff;
    "
  >
    <div class="col-md-12">
      <p class="p-1 pl-2" style="font-size: large; font-weight: 600">
        Total: Rs. {{ totalAmount }}
      </p>
      <div class="row justify-content-between m-1">
        <button class="btn btn-primary" style="border-radius: 24px; width: 40%">
          View Cart
        </button>
        <button class="btn btn-primary" style="border-radius: 24px; width: 40%">
          Checkout
        </button>
      </div>
    </div>
  </div>
</ng-template>
