<app-loader *ngIf="loading"></app-loader>

<div class="table-responsive" *ngIf="!loading">
  <p style="color: antiquewhite; margin: 20px 10px">USER DETAILS</p>
  <a 
    ><img
      src="../assets/images/add-user.png"
      style="height: 20px; margin: 10px"
  /></a>
  <table class="table tablesorter" id="">
    <thead class="text-primary">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th *ngIf="role === 'admin'">Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- User id is essential for editing their details -->
      <tr *ngFor="let eachUser of userDetails; let i = index">
        <td>{{ eachUser.first_name }}</td>
        <td>{{ eachUser.last_name }}</td>
        <td>{{ eachUser.email }}</td>
        <td *ngIf="role === 'admin'"
          [ngClass]="{
            'text-success': eachUser.status == 'active',
            'text-warning': eachUser.status == 'pending',
            'text-danger': eachUser.status == 'inactive'
          }"
        >
          {{ eachUser.status }}
        </td>
        <td>
          <img
            src="../assets/images/icons8-edit-50.png"
            alt=""
            srcset=""
            style="height: 25px"
          />
        </td>
        <td>
          <img
            src="../assets/images/icons8-delete-bin-60.png"
            alt=""
            srcset=""
            style="height: 25px"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
